.wrapper{
    background-color: navy;
    width: 970px;
    padding: 20px;
}

#header{
    background-color: DarkRed;
    border-radius: 15px;
    height: 50px;
    padding: 5px;
    color: PowderBlue;
}

#header p{
    font-size: 30px;
    position: absolute;
    top: 0px;
}

#navigation{
    background-color: teal;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    border-radius: 25px;
    padding: 10px;
    display: inline-block;

}
#nav_list{
    color: PowderBlue;
    margin: 4px;
    font-size:13px;
}
#content{
    display: inline-block;
    color: PowderBlue;
    border-radius: 25px;
    background-color: black;
    width:705px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    vertical-align: top;
    
}
